.logsection
{
    background-color: #D3D3D3;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #000000;
    overflow: auto;      
    margin: 0em;  
    padding: 1em;   
    border: 5px ridge #a0a0a0
}

.lobbysection
{
    display:inline-block;
    vertical-align:top;
}


.quickplaysection
{
    display:inline-block;
    vertical-align:top;
    width:600px;
    background-color:Red;
}

#chatform
{
    display:inline-block;
}

#proposalButton
{
    width:128px;
}

.gamedropdown
{
    width:128px;
}

#log
{
    height: 16em;
    width: 300px;          
}

#chat 
{
    height: 13em;    
    width: 360px;        
}

#debug
{
    height: 13em;    
    width: 360px;        
}

#lobbychat 
{
    height: 354px;    
    width: 643px;        
}

#lobbychattextarea
{
    height: 330px;    
    width: 555px;        
    overflow: auto;    
}


#playerList
{
    width: 128px;
    height: 369px;    
}

.gamelogo
{
    width:128px;
    height:128px;
}

#playerCheckbox
{
    display:block;
}

#proposalList
{
    height: 15em;
    width: 480px;
}

#quickPlayArea
{
    height: 15em;
    width: 130px;
}

#chatline
{
}

#chatinput
{    
    width: 24em;
}

#chatbutton
{    
    width: 5em;
}

#lobbychatinput
{    
    width: 520px;    
}

#lobbychatbutton
{    
    width: 100px;        
}

#datablock
{
    background-color: #A3A3A3;
    width: 750px;
    height: 15em;
    padding: 20px;
    border: 5px ridge #808080;
    margin-top: -4px;   
    
}