html {overflow-y: scroll;}

body {
    background-color: #999999;    
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #0;
    background-image:url("/content/images/ui/bg4.png");
    
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}


.content 
{
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E1EAE1;
    padding:0px;
    padding-top:2px;
    padding-bottom:10px;
    margin-top:5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.page {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding:0px;
    margin-top:0px;    
    
}

.gameArea 
{
    margin-left: auto;
    margin-right: auto;   
    width: 800px; 
}

.imageLink
{    
    width:100px;
    height:50px;
    padding:0px;
    margin:0px;
}

.imageBase
{
    width:inherit;
    height:inherit;
}


.logonButton
{
    background: white url('~/Content/Images/Site/logon.png') no-repeat top;
    width:inherit;
    height:inherit;
}

.alerts_name
{    
    float:left;
}

.alerts_count
{    
}

.logo
{
    display:inline;
    float:left;
    text-align: left;
    font-weight:bold;
    font-size: 50px;
    text-shadow: 1px 1px 2px #111;
    margin:0px;
    margin-top:-25px;
    padding: 0px;
    line-height:normal;
}

.ListPanel
{
    position:relative; 
    border: 5px ridge #e0e0e0;
    width:820px;
    height:60px;    
    overflow:hidden;
}

.ListPanelLong
{
    position:relative; 
    border: 5px ridge #e0e0e0;
    width:820px;
    height:60px;    
    overflow:hidden;
}

.ListPanelImage
{
    display:inline-block;    
    width:60px;
    height:60px;
    z-index:0
}

.ListPanelInfo
{
    position:absolute;
    display:inline-block;
    width:300px;
    height:60px;    
    margin:0px;
    z-index: 0;    
}

.ListPanelSelect
{
    margin-left:140px;
    width:140px;
}

.ListPanelButton
{
    width:120px;
    height:30px;
    margin-left:30px;
}

.ListNavigation
{
    font-weight:bold;
    cursor:pointer;
}

.ListNavigationArea
{
    float:right;
    margin-right:10px;
}

.ChallengeButton
{
    display:block;
    width:196px;
    height:64px;
    margin-left:310px;
    
    margin-top:-42px;
    
    background-image: url('Images/Site/challenge.png');
    background-position: top;
    text-indent: -9999px;
    cursor:pointer;
}

.ChallengeButton:hover
{
    background-position: bottom;
}

.RankedMatchButton
{
    display:block;
    width:196px;
    height:64px;
    
    margin-top:-6px;
    
    background-image: url('Images/Site/ranked_match.png');
    background-position: top;
    text-indent: -9999px;
    cursor:pointer;
}

.RankedMatchButton:hover
{
    background-position: bottom;
}

.ListPanelDescription
{
    position:absolute;
    left:300px;
    display:inline-block;        
    width:310px;
    height:50px;    
    margin:0px;
    z-index: 3;    
    padding:5px;
    overflow:hidden;
}



.ListPanelStartMatch
{
    position:absolute;
    left:620px;
    display:inline-block;        
    width:160px;
    height:50px;    
    margin:0px;
    z-index: 3;    
    padding:5px;    
}

.ListPanelInvite
{
    position:absolute;
    left:300px;
    display:inline-block;        
    width:310px;
    height:30px;    
    margin:0px;
    z-index: 3;    
    padding:15px;    
    background-image: url('empty.gif');
}

.ListPanelHeader
{
    margin:0px;
    font-size:24px;
    margin-top:5px;
    margin-bottom:5px;
    z-index: 0
}

.PanelLink
{
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;

    /* edit: added z-index */
    z-index: 1;

    /* edit: fixes overlap error in IE7/8, 
    make sure you have an empty gif */
    background-image: url('empty.gif');
}

.GameProfileImage
{
    width:300px;
    height:300px;
    padding:15px;
}

.GamePageInfo
{
    display:inline-block;
    
    width:400px;
    height:600px;
    background-color:#F8F8F8;
    padding-left:15px; 
    vertical-align:top;
}

.GamePageDescriptionHeader
{    
    top:-15px;
    left:4px;
    position: absolute;
    padding: 2px 4px 2px 4px;    
    background-color:#B3B3B3;
    float:left;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    z-index:10;
    text-indent: 0px;
}

.GamePageDescription
{
    position:relative;
    background-color:#D3D3D3;
    width:330px; 
    padding:10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    min-height:50px;
    text-indent: 10px;
}

.GamePageTables
{
    display:inline-block;
    right:100px;
    padding-left:15px; 
    width:400px;
    height:600px;
    background-color:#F8F8F8;
    vertical-align:top;
    float:right;
}

.RecordListImage
{
    width:32px;
    height:32px;
}

.ProfileInfo
{
    display:inline-block;
    
    width:360px;
    
    min-height:600px;
    background-color:#F8F8F8;
    padding-left:15px; 
    vertical-align:top;
}

.ProfileEditLink
{    
    float:right;
}

.ParentHeader
{
    cursor:pointer;
}

.ProfileTables
{
    display:inline-block;
    right:100px;
    padding-left:15px; 
    width:440px;
    min-height:600px;
    background-color:#F8F8F8;
    vertical-align:top;    
}

#navbar
{
    margin-top:20px;
    width: 870px;
    margin-left: auto;
    margin-right: auto;    
}

#main {
    padding: 5px 15px 15px 15px;
    margin:0px 25px 0px 25px;
    
    
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}


footer, 
#footer {
    background-color: #fff;    
    
    color: #999;
    padding: 5px 15px 15px 15px;
    margin:0px 25px 0px 25px;
    
    text-align: center;
    line-height: normal;
    
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    
}

.PostHeader
{
    background-color: #CECECE;
    height: 2cm;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

.PostHeaderImage
{
    float: left;
    padding: .2cm;
    width:64px;
    height:64px;
}

.PostHeaderInfo
{    
}

.PostDate 
{
    font-size: 1.2em;    
    color: Black;
}

.PostName
{
    font-size: 1.2em;    
    color: Black;
    margin:0px;
    padding: 0px;
}

.PostTitle
{
    margin:0px;
    padding: 0px;
    font-size: 3em;    
    font-weight: bold;
    color: Black;
}

