@model DeckBuilder.Models.Game

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Game</legend>

    <div class="display-label">PythonScript</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PythonScript)
    </div>

    <div class="display-label">MaxPlayers</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxPlayers)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
