@{
    ViewBag.Title = "Deck Builder";
}

<canvas id="canvas" width="800" height="800">
<p>Your browser does not support the canvas element.</p>
</canvas>

<button id = "postheta" >Rotate +</button>
<button id = "negtheta" >Rotate -</button>

<button id = "submitMove">Submit</button>

<script type="text/javascript">
    window.onload = init(@ViewBag.state);    
</script>
