@{
    ViewBag.Title = "Lobby";
}

<h2>@Html.DropDownList("LobbyRoom")</h2>

<div style = "display:block; height:30em">
    <div style="display:inline; float:left">
        <div id="lobbychat" class="logsection">        
        </div>

        <form id="chatform">
            <input id="lobbychatinput"/>        
            <button id="lobbychatbutton" type = "submit">Say</button>
        </form>
    </div>
    <div style="display:inline">
        
        <form id="playerList" class="logsection">
        </form>
    </div>
</div>

@Html.DropDownList("SelectedGame")
<button id="proposalButton">Propose Game</button>    

<div id="proposalList" class = "logsection">
</div>

<script type="text/javascript">

    initLobbyChat("@ViewBag.PlayerName");

</script>